<div class="col-md-4 col-md-offset-4" style="float:left;">
  <form>
    <div class="form-group">
      <label class="control-label " for="name">Nº da OF (Ordem de Fabrico)</label>
      <input class="form-control"  type="text" readonly />
    </div>

    <div class="form-group">
      <label class="control-label requiredField" style="width: 100%; " for="email">Operação</label>
      <input class="form-control"  type="text" readonly />
    </div>

    <div class="form-group">
      <label class="control-label " for="subject">Máquina</label>
      <input class="form-control"  type="text" readonly/>
    </div>

    <div class="form-group">
      <label class="control-label " for="name">Referência</label>
      <input class="form-control" type="text" readonly />
    </div>
    <div class="form-group">
      <label class="control-label " for="name">Funcionário</label>
      <input class="form-control"  type="text" readonly />
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left;">
      <div class="form-group">
        <label class="control-label " for="name">Data Início</label>
        <input class="form-control"  type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left; padding-right: 0px;">
      <div class="form-group">
        <label class="control-label " for="name">Hora Início</label>
        <input class="form-control" type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left;">
      <div class="form-group">

        <label class="control-label " for="name">Data Fim</label>
        <input class="form-control" type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left; padding-right: 0px;">
      <div class="form-group">
        <label class="control-label " for="name">Hora Fim</label>
        <input class="form-control"  type="text" readonly />
      </div>
    </div>
  </form>
</div>

<div class="col-md-2 col-md-offset-2" style="float:left; text-align:center;">
  <form>
    <div class="form-group">
      <label class="control-label " for="name">Quant. Boas</label>
      <input value="{{qttboas}}" class="form-control"  type="number" #box min="0" 
        (change)="updatetotal(box.value)" style="text-align: center;" style="height: 70px; text-align: center; font-size: 20px;" />
    </div>
    <i class="icon-plus" style="font-size: 34px;"></i>
    <div class="form-group">
      <label class="control-label " for="name">Total Defeitos</label>
      <input class="form-control"  type="text" style="text-align: center;" readonly value="{{totaldefeitos}}"
      />
    </div>
    <i style="font-size: 50px;">=</i>
    <div class="form-group">
      <label class="control-label " for="name">Total Control</label>
      <input class="form-control" type="text" readonly style="text-align: center;" value="{{totalcontrol}}"
      />
    </div>
    <div class="form-group">
      <label class="control-label " for="name">Quant. OF</label>
      <input class="form-control" type="text" style="text-align: center;" readonly />
    </div>
  </form>
</div>
<div class="col-md-6 col-md-offset-6" style="float:left;">
  <div class="col-md-11 col-md-offset-11" style="float:left;">
    <p-dataTable [value]="cols" selectionMode="single" [(selection)]="selectedCar2" dataKey="vin">
      <p-header>Lista dos defeitos Registados</p-header>
      <p-column field="vin" header="Código" [sortable]="true"></p-column>
      <p-column field="year" header="Designação"></p-column>
      <p-column field="brand" header="Quant."></p-column>
    </p-dataTable>
  </div>
  <div class="col-md-1 col-md-offset-1 nopadding" style="float:left;">
    <button type="button" class="btn btn-success btn-number" style="margin-left:10px; float:left;" (click)="togglestates()">
          <i class="icon-plus"></i>
  </button>
  </div>
</div>
<div class="col-md-12 col-md-offset-12" style="text-align: center; float:left; margin-top:  30px;">
  <button type="button" pButton routerLink="/home" label="CANCELAR" style="float: none;"></button>
  <button type="button" pButton routerLink="/pausa" label="PAUSA" style="float: none;"></button>
  <button type="button" pButton (click)="cancelar2()" label="ADICIONAR OPERADOR" style="float: none;"></button>
  <button type="button" pButton (click)="createfile()" label="CONCLUIR" style="float: none;"></button>
</div>




<div id="adicionaop">
  <div class="list-group adicionadef" [@movementtrigger]="state" style="display:none; " (clickOutside)="ontogglestates()">

     <form #valForm="ngForm" (ngSubmit)="submitFunc(valForm.value); ">
    <p-tabView *ngIf="tabSets">
      <p-tabPanel *ngFor="let tab of tabSets" header="{{tab.label}}">

        <div *ngFor="let item of   getinputs(tab.label) let i = index" [attr.data-index]="i" class="col-md-3 col-md-offset-3 nopadding"
          style="float:left;">
          <label class="control-label requiredField" style="width: 100%; " for="name">{{ item }}</label>
          <input class="form-control" id="name" name="{{ item }}" #inputvalue ngModel type="number" min="0" 
          />
        </div>

      </p-tabPanel>
    </p-tabView>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" >
        <input class="form-control btn btn-primary" type="submit" [disabled]="!valForm.form.valid" value="Confirmar" style="margin-top: 20px;">
      </div>
    </p-footer>
  </form>

  </div>

</div>
