<div class="row wrapper">

  <div class="col-md-4 col-md-offset-4" style="float:left;">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label class="control-label ">Nº da OF (Ordem de Fabrico)</label>
            <input class="form-control" value="{{of_num}}" type="text" readonly />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; " for="email">Operação</label>
            <input style="font-size: 0.8rem;" class="form-control" value="{{op_num}}" type="text" [disabled]="true" />
          </div>
          <div class="form-group">
            <label class="control-label " for="subject">Máquina</label>
            <input style="font-size: 0.8rem;" class="form-control" value="{{maq_num}}" type="text" [disabled]="true" />
          </div>
          <div class="form-group">
            <label class="control-label ">Funcionário</label>
            <input [hidden]="modoedicao" style="font-size: 0.8rem;" class="form-control" value="{{id_utz}}" type="text" [disabled]="true"
            />
            <p-dropdown [hidden]="!modoedicao" [options]="utilizadores" [(ngModel)]="utz_lider" [ngModelOptions]="{standalone: true}"
              (onChange)="atualizaDados($event)" [style]="{'width':'100%'}"></p-dropdown>
          </div>
          <div class="col-md-12 col-md-offset-12 nopadding" style="padding-right: 0;">
            <div class="col-md-6 col-md-offset-6 col-sm-12 nopadding" style="float:left; padding: 0;">
              <div class="form-group">
                <label class="control-label ">Data Início</label>
                <input (change)="atualizartempofunc('data_ini')" style="display: -webkit-box; height: 44.4px;" class="form-control" [(ngModel)]="data_ini"
                  type="date" [ngModelOptions]="{standalone: true}" [disabled]="disableEditar" />
              </div>
            </div>
            <div class="col-md-6 col-md-offset-6 col-sm-12  nopadding" style="float:left;padding: 0;">
              <div class="form-group">
                <label class="control-label ">Hora Início</label>
                <input (change)="atualizartempofunc('hora_ini')" class="form-control" [(ngModel)]="hora_ini" step='1' min="00:00:00" type="time" [ngModelOptions]="{standalone: true}"
                  [disabled]="disableEditar" style="display: -webkit-box; height: 44.4px;" />
              </div>
            </div>
          </div>
          <div class="col-md-12 col-md-offset-12 nopadding" style="padding-right: 0;">
            <div class="col-md-6 col-md-offset-6 col-sm-12 nopadding" style="float:left; padding: 0;">
              <div class="form-group">
                <label class="control-label ">Data Fim</label>
                <input (change)="atualizartempofunc('data_fim')" [ngClass]="{'cor_trasparent': (data_fim == '' || data_fim == null) && !modoedicao}"
                  class="form-control" style="display: -webkit-box; height: 44.4px;" [(ngModel)]="data_fim" min="{{data_ini}}"
                  type="date" [ngModelOptions]="{standalone: true}" [disabled]="disableEditar" />
              </div>
            </div>
            <div class="col-md-6 col-md-offset-6 col-sm-12 nopadding" style="float:left; padding-right: 0px;">
              <div class="form-group">
                <label class="control-label ">Hora Fim</label>
                <input (change)="atualizartempofunc('hora_fim')" [ngClass]="{'cor_trasparent': (hora_fim == '' || hora_fim == null )&& !modoedicao}"
                  class="form-control" [(ngModel)]="hora_fim" style="display: -webkit-box; height: 44.4px;" step='1' min="00:00:00" type="time" [ngModelOptions]="{standalone: true}"
                  [disabled]="disableEditar" />
              </div>
              <button (click)="gravar_utilizadores()" [hidden]="!modoedicao || disableEditar" style="position: absolute; right: -29px; height: 44px; top: 24px; width: 42px;" pButton type="button" icon="fa-save" iconPos="left"></button>
            </div>
          </div>


          <div [hidden]="!modoedicao" class="col-md-12 col-md-offset-12 nopadding" style="padding-right: 0;">
            <div class="col-md-6 col-md-offset-6 col-sm-12 nopadding" style="float:left; padding: 0;">
              <div class="form-group">
                <label class="control-label ">Data Início Preparação</label>
                <input (change)="atualizartempofunc('data_ini_preparacao')" style="display: -webkit-box; height: 44.4px;" class="form-control"
                  [(ngModel)]="data_ini_preparacao" type="date" [ngModelOptions]="{standalone: true}" [disabled]="true" [ngClass]="{'cor_trasparent': (data_ini_preparacao == '' || data_ini_preparacao == null )}"
                />
              </div>
            </div>
            <div class="col-md-6 col-md-offset-6 col-sm-12  nopadding" style="float:left;padding: 0;">
              <div class="form-group">
                <label class="control-label ">Hora Início Preparação</label>
                <input (change)="atualizartempofunc('hora_ini_preparacao')" class="form-control" [(ngModel)]="hora_ini_preparacao" type="time"
                  [ngModelOptions]="{standalone: true}" [disabled]="true" style="display: -webkit-box; height: 44.4px;" [ngClass]="{'cor_trasparent': (hora_ini_preparacao == '' || hora_ini_preparacao == null )}"
                />
              </div>
            </div>
          </div>

          <div [hidden]="!modoedicao" class="col-md-12 col-md-offset-12 nopadding" style="padding-right: 0;">
            <div class="col-md-6 col-md-offset-6 col-sm-12 nopadding" style="float:left; padding: 0;">
              <div class="form-group">
                <label class="control-label ">Data Fim Preparação</label>
                <input (change)="atualizartempofunc('data_fim_preparacao')" [ngClass]="{'cor_trasparent': (data_fim_preparacao== '' || data_fim_preparacao == null) }"
                  class="form-control" style="display: -webkit-box; height: 44.4px;" [(ngModel)]="data_fim_preparacao" min="{{data_fim_preparacao}}"
                  type="date" [ngModelOptions]="{standalone: true}" [disabled]="true" />
              </div>
            </div>
            <div class="col-md-6 col-md-offset-6 col-sm-12 nopadding" style="float:left; padding-right: 0px;">
              <div class="form-group">
                <label class="control-label ">Hora Fim Preparação</label>
                <input (change)="atualizartempofunc('hora_fim_preparacao')" [ngClass]="{'cor_trasparent': (hora_fim_preparacao == '' || hora_fim_preparacao == null )}"
                  class="form-control" [(ngModel)]="hora_fim_preparacao" style="display: -webkit-box; height: 44.4px;" type="time"
                  [ngModelOptions]="{standalone: true}" [disabled]="true" />
              </div>
            </div>
          </div>

          <div [hidden]="!modoedicao" class="col-md-12 col-md-offset-12 nopadding" style="padding-top: 10px; display: -webkit-box;">
            <label class="control-label ">Estado</label>
            <p-dropdown [options]="estados_array" [style]="{'width':'200px'}" [(ngModel)]="estado_val" [ngModelOptions]="{standalone: true}"
              [hidden]="!modoedicao" [disabled]="true"></p-dropdown>
            <button type="button" class="ui-button-success" pButton (click)="pausas()" label="Ver Pausas" style="float: none; height: 39px;"></button>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div *ngIf="utilizadores_adici?.length > 0">
          <b> Utilizadores Adicionais</b>
          <ul *ngFor="let ut of utilizadores_adici" style="margin-bottom: 4px;">
            <li style="    font-size: 0.7rem;">
              {{ut.label}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-8 nopadding" style="float:left;">
    <!--<div class="col-md-12 col-md-offset-12 nopadding" style="float:left; margin-bottom: 20px;">
      <button [disabled]="disabledAdici" type="button" class="ui-button-success" pButton routerLink="/registo-quantidades" label="REGISTO DE QUANTIDADES E DEFEITOS"
        style=" float:left; width: 100%; height: 70px;"></button>
    </div>-->
    <div class="col-md-12 col-md-offset-12 nopadding" style="float:left; margin-bottom: 20px;">
      <button [disabled]="disabledAdici" type="button" class="ui-button-success" pButton (click)="editarquantidades()" label="REGISTO DE QUANTIDADES E DEFEITOS"
        style=" float:left; width: 100%; height: 70px;"></button>
    </div>
    <div class="col-md-12 col-md-offset-12 nopadding" style="float:left;">
      <p-dataTable [rowStyleClass]="lookupRowStyleClass" [value]="defeitos" class="tabelaref_of" dataKey="ref_num">
        <!--<p-header></p-header>-->
        <p-column [style]="{'width':'16%'}" field="ref_num" header="Código" [sortable]="true">
          <ng-template let-col let-x="rowData" pTemplate="body">
            <span [class.pecafinal]="!x['comp']">{{x[col.field]}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'5%'}" field="tipo" header="Tipo"></p-column>
        <p-column field="ref_des" header="Designação"></p-column>
        <p-column [style]="{'width':'7%'}" field="quant_of" header="Qtd. OF"></p-column>
        <p-column [style]="{'width':'8%'}" field="quant_boas" header="Qtd. Boas"></p-column>
        <p-column [style]="{'width':'10%'}" field="quant_def_total" header="Defeitos"></p-column>
        <p-column [style]="{'width':'10%'}" field="quant_control" header="Total Control">
          <ng-template let-col let-x="rowData" pTemplate="body">
            <div [style.background]="x['cor']">
              <span>{{x[col.field]}}</span>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
  <div [hidden]="modoedicao" class="col-md-12 col-md-offset-12 nopadding" style="float:left; margin-top: 20px; text-align: center;">
    <button type="button" class="ui-button-danger" pButton (click)="cancelar()" label="CANCELAR / SAIR" style="float: none; width: 17%;vertical-align: -webkit-baseline-middle;"></button>
    <button type="button" icon="fa-envelope-o" class="ui-button-info" pButton (click)="mensagem()" label="MENSAGEM" style="float: none; width: 17%; vertical-align: -webkit-baseline-middle;"></button>
    <button [disabled]="concluido" type="button" class="ui-button-warning" pButton routerLink="/pausa" label="PAUSA" style="float: none; width: 17%; vertical-align: -webkit-baseline-middle;"></button>
    <button [disabled]="concluido || disabledAdici" type="button" class="ui-button-secondary" pButton (click)="adicionaop()"
      label="ADICIONAR OPERADOR" style="float: none;  width: 17%; vertical-align: -webkit-baseline-middle;"></button>
    <button [disabled]="concluido" type="button" class="ui-button-success" pButton (click)="createfile('C','O')" label="CONCLUIR"
      style="float: none; width: 17%; vertical-align: -webkit-baseline-middle;"></button>

    <!-- <button [disabled]="!concluido" type="button" class="ui-button-warning" pButton (click)="ficheiroteste()" label="TESTAR FICHEIRO" style="float: none; width: 17%; vertical-align: -webkit-baseline-middle;"></button>-->
  </div>
  <div [hidden]="!modoedicao" class="col-md-12 col-md-offset-12 nopadding" style="float:left; margin-top: 20px; text-align: center;">
    <button type="button" class="ui-button-danger" pButton (click)="cancelar()" label="VOLTAR" style="float: none; width: 17%;vertical-align: -webkit-baseline-middle;"></button>
    <button [disabled]="!permissao_editar" type="button" class="ui-button-warning" pButton (click)="editar()" label="EDITAR"
      style="float: none; width: 17%; vertical-align: -webkit-baseline-middle;"></button>
    <button [disabled]="!permissao_editar" type="button" class="ui-button-danger" pButton (click)="eliminar()" label="ELIMINAR"
      style="float: none; width: 17%; vertical-align: -webkit-baseline-middle;"></button>
    <button [disabled]="disableEditar" type="button" class="ui-button-success" pButton (click)="gravar()" label="GRAVAR" style="float: none; width: 17%; vertical-align: -webkit-baseline-middle;"></button>

     <button type="button" class="ui-button-warning" pButton (click)="ficheiroteste('C')" label="Gerar Ficheiros Inic." style="float: none; width: 17%; vertical-align: -webkit-baseline-middle;"></button>
  </div>
</div>

<!--popup adicionar operador -->
<p-dialog header="ADICIONAR OPERADOR" [(visible)]="displayDialog" class="novoop" modal="modal" [responsive]="true" [dismissableMask]="true"
  [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left;">
    <div class="ui-grid-row">
      <div class="form-group">
        <!-- <label class="control-label ">PIN DO UTILIZADOR</label>
        <input class="form-control" type="number" />-->
        <app-pagelogin></app-pagelogin>
      </div>
    </div>
  </div>
</p-dialog>

<!--popup adicionar operador -->
<p-dialog header="UTILIZADOR EM USO" [(visible)]="displayDialogutz" class="novoop" modal="modal" width="700" [responsive]="true"
  [dismissableMask]="true" [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left;">
    <div class="ui-grid-row">
      <div class="form-group">
        O Utilizador {{utilizador_insere}} já se encontra a executar esta OF!
      </div>
    </div>
  </div>
</p-dialog>

<!--popup adicionar operador em uso-->
<p-dialog header="UTILIZADOR EM USO" [(visible)]="displayDialogutz_em_uso" class="novoop" modal="modal" width="700" [responsive]="true"
  [dismissableMask]="true" [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left;">
    <div class="ui-grid-row">
      <div class="form-group">
        O Utilizador {{utilizador_insere}} já se encontra a executar outra OF, é necessário concluir a OF em Execução!
      </div>
    </div>
  </div>
</p-dialog>

<!--popup adicionar operador em uso-->
<p-dialog header="UTILIZADORES ADICIONAIS COM TRABALHO POR CONCLUIR" [(visible)]="displayDialogLider" class="novoop" modal="modal"
  width="700" [responsive]="true" [dismissableMask]="true" [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left;">
    <div class="ui-grid-row">
      <div class="form-group" style="padding: 20px;">
        Existem outros utilizadores adicionados ao trabalho. Eles deverão primeiro concluir o trabalho para que possa então concluir
        o seu!
        <br>
        <ul *ngFor="let ut of utilizadores_adici">
          <li>
            {{ut.label}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</p-dialog>

<!--popup sem alterações -->
<p-dialog header="Sem Alterações" [(visible)]="displayalter" class="novoop" modal="modal" width="700" [responsive]="true"
  [dismissableMask]="true" [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left;">
    <div class="ui-grid-row">
      <div class="form-group" style="padding: 22px 0 22px 0;">
        Não existem alterações para Gravar!
      </div>
    </div>
  </div>
</p-dialog>

<!-- POPUP MENSAGEM-->
<p-dialog header="Mensagem" [(visible)]="displaymensagem" modal="modal" [responsive]="true" width="700" [dismissableMask]="true"
  [draggable]="false">
  <form (ngSubmit)="gravarmensagem()" ngNativeValidate>
    <div class="col-md-12 col-md-offset-12" style="float: left; font-size: 18px;">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <label for="vin">Assunto</label>
        </div>
        <input type="text" pInputText size="100" placeholder="Assunto" class="form-control" [(ngModel)]="texto_assunto" [ngModelOptions]="{standalone: true}">
        <div class="ui-grid-col-12">
          <label for="vin">Texto Mensagem</label>
        </div>
        <textarea [required]="true" pInputTextarea autoResize="false" [rows]="5" style="width: 100%; resize: none;" [(ngModel)]="texto_mensagem"
          [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="displaymensagem = false" label="Cancelar"></button>
        <button type="submit" pButton icon="fa-check" label="Gravar"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>


<!--popup sem Pausas -->
<p-dialog header="Pausas" [(visible)]="displaypausas" class="novoop" modal="modal" width="800" [responsive]="true" [dismissableMask]="true"
  [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left;">
    <div class="ui-grid-row">
      <div class="form-group" style="padding: 22px 0 22px 0;">
        <p-dataTable [rowStyleClass]="lookupRowStyleClass" [value]="pausas_array" class="tabelaref_of" dataKey="id">
          <!--<p-header></p-header>-->
          <p-column [style]="{'width':'8%'}" field="datahora_ini" header="Data Inicio"></p-column>
          <p-column [style]="{'width':'8%'}" field="datahora_fim" header="Data Fim"></p-column>
          <p-column [style]="{'width':'10%'}" field="paragem" header="Tipo Pausa"></p-column>
          <p-column [style]="{'width':'8%'}" field="momento" header="Estado"></p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</p-dialog>

<p-confirmDialog header="Confirmação" width="425"></p-confirmDialog>