.nopadding {
    padding-left: 0 !important;
}

.ui-dialog-buttonpane {
    border-top: none !important;
}

input:read-only {
    background-color: #c0c0c0;
}

button {
    height: 70px;
}

.pecafinal {
    font-weight: 600;
}