<div class="col-md-5 col-md-offset-5" style="float:left;">
  <form>
    <div class="form-group">
      <label class="control-label ">Nº da OF (Ordem de Fabrico)</label>
      <input class="form-control"  value="{{of_num}}" type="text" readonly />
    </div>
    <div class="form-group">
      <label class="control-label requiredField" style="width: 100%; " for="email">Operação</label>
      <input class="form-control"  value="{{op_num}}"  type="text" readonly />
    </div>
    <div class="form-group">
      <label class="control-label " for="subject">Máquina</label>
      <input class="form-control"  value="{{maq_num}}"  type="text" readonly/>
    </div>
    <div class="form-group">    
      <label class="control-label ">Funcionário</label>
      <input class="form-control"  value="{{id_utz}}"  type="text" readonly />
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left;">
      <div class="form-group">        
        <label class="control-label ">Data Início</label>
        <input class="form-control"  value="{{data_ini}}" type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left; padding-right: 0px;">
      <div class="form-group">
        <label class="control-label ">Hora Início</label>
        <input class="form-control"  value="{{hora_ini}}" type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left;">
      <div class="form-group">        
        <label class="control-label ">Data Fim</label>
        <input class="form-control"  value="{{data_fim}}" type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left; padding-right: 0px;">
      <div class="form-group">       
        <label class="control-label ">Hora Fim</label>
        <input class="form-control"  value="{{hora_fim}}"  type="text" readonly />
      </div>
    </div>
  </form>
</div>

<div class="col-md-7 col-md-offset-7" style="float:left;">
  <div class="col-md-12 col-md-offset-12 nopadding" style="float:left; margin-bottom: 20px; margin-top: 30px;">          
   <button type="button" pButton routerLink="/registo-quantidades" label="REGISTO DE QUANTIDADES E DEFEITOS" style="margin-left:10px; float:left; width: 100%; height: 50px;" ></button>
  </div>
  <div class="col-md-12 col-md-offset-12" style="float:left;">
    <p-dataTable [value]="defeitos" dataKey="ref_num">
      <p-header>Lista dos defeitos Registados</p-header>
      <p-column field="ref_num" header="Código" [sortable]="true"></p-column>
      <p-column field="ref_des" header="Designação"></p-column>
      <p-column field="quant_of" header="Quant. OF"></p-column>
       <p-column field="quant_boas" header="Quant. Boas"></p-column>
        <p-column field="quant_def_total" header="Quant. Defeitos"></p-column>
         <p-column field="quant_control" header="Quant. Control"></p-column>
    </p-dataTable>
  </div>

</div>
<div class="col-md-12 col-md-offset-12" style="text-align: center; float:left; margin-top: 20px;">
  <button type="button" pButton routerLink="/home" label="CANCELAR" style="float: none;"></button>
  <button type="button" pButton routerLink="/pausa" label="PAUSA" style="float: none;"></button>
  <button type="button" pButton (click)="adicionaop()" label="ADICIONAR OPERADOR" style="float: none;"></button>
  <button type="button" pButton (click)="createfile()" label="CONCLUIR" style="float: none;"></button>
</div>

<p-dialog header="ADICIONAR OPERADOR" [(visible)]="displayDialog" class="novoop" modal="modal" width="700" [responsive]="true" [dismissableMask]="true"
  [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left;">
    <div class="ui-grid-row">
      <div class="form-group">
       <!-- <label class="control-label ">PIN DO UTILIZADOR</label>
        <input class="form-control" type="number" />-->
        <app-pagelogin></app-pagelogin>
      </div>
    </div>
  </div>
</p-dialog>


<p-confirmDialog header="Confirmação" width="425"></p-confirmDialog>