.nopadding {
    padding-left: 0 !important;
}

.ui-dialog-buttonpane {
    border-top: none !important;
}

input:read-only {
    background-color: #c0c0c0;
}

input:disabled {
    background-color: #c0c0c0;
}

button {
    height: 70px;
}

.pecafinal {
    font-weight: 600;
}

.cor_trasparent {
    color: transparent;
}

#tabelacaixas input {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
}

#tabelacaixas input {
    height: 25px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#tabelacaixas input:disabled {
    background-color: #f6f6f6;
}