<div class="col-md-5 col-md-offset-5" style="float:left;">
  <form>
    <div class="form-group">
      <!-- Name field -->
      <label class="control-label " for="name">Nº da OF (Ordem de Fabrico)</label>
      <input class="form-control" id="name" name="name" type="text" readonly />
    </div>

    <div class="form-group">
      <!-- Email field -->
      <label class="control-label requiredField" style="width: 100%; " for="email">Operação</label>
      <input class="form-control" id="name" name="name" type="text" readonly />
    </div>

    <div class="form-group">
      <!-- Subject field -->
      <label class="control-label " for="subject">Máquina</label>
      <input class="form-control" id="name" name="name" type="text" readonly/>
    </div>

    <div class="form-group">
      <!-- Name field -->
      <label class="control-label " for="name">Referência</label>
      <input class="form-control" id="name" name="name" type="text" readonly />
    </div>
    <div class="form-group">
      <!-- Name field -->
      <label class="control-label " for="name">Funcionário</label>
      <input class="form-control" id="name" name="name" type="text" readonly />
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left;">
      <div class="form-group">
        <!-- Name field -->
        <label class="control-label " for="name">Data Início</label>
        <input class="form-control" id="name" name="name" type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left; padding-right: 0px;">
      <div class="form-group">
        <!-- Name field -->
        <label class="control-label " for="name">Hora Início</label>
        <input class="form-control" id="name" name="name" type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left;">
      <div class="form-group">
        <!-- Name field -->
        <label class="control-label " for="name">Data Fim</label>
        <input class="form-control" id="name" name="name" type="text" readonly />
      </div>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="float:left; padding-right: 0px;">
      <div class="form-group">
        <!-- Name field -->
        <label class="control-label " for="name">Hora Fim</label>
        <input class="form-control" id="name" name="name" type="text" readonly />
      </div>
    </div>
  </form>
</div>

<div class="col-md-7 col-md-offset-7" style="float:left;">
  <div class="col-md-12 col-md-offset-12 nopadding" style="float:left; margin-bottom: 20px; margin-top: 30px;">          
   <button type="button" pButton routerLink="/registo-quantidades" label="REGISTO DE QUANTIDADES E DEFEITOS" style="margin-left:10px; float:left; width: 100%; height: 50px;" ></button>
  </div>
  <div class="col-md-12 col-md-offset-12" style="float:left;">
    <p-dataTable [value]="utilizadores" selectionMode="single" [(selection)]="selectedCar2" dataKey="id">
      <p-header>Lista dos defeitos Registados</p-header>
      <p-column field="name" header="Código" [sortable]="true"></p-column>
      <p-column field="email" header="Designação"></p-column>
      <p-column field="id" header="Quant."></p-column>
    </p-dataTable>
  </div>

</div>
<div class="col-md-12 col-md-offset-12" style="text-align: center; float:left; margin-top: 20px;">
  <button type="button" pButton routerLink="/home" label="CANCELAR" style="float: none;"></button>
  <button type="button" pButton routerLink="/pausa" label="PAUSA" style="float: none;"></button>
  <button type="button" pButton (click)="cancelar2()" label="ADICIONAR OPERADOR" style="float: none;"></button>
  <button type="button" pButton (click)="createfile()" label="CONCLUIR" style="float: none;"></button>
</div>