.adicionaop{
    position: fixed;
    width: 50%;
    right: 0;
    top:0;
    height: 100%;
    background: #f7f7f7;
<<<<<<< HEAD
=======
    padding-top:  5%;
>>>>>>> origin/master
    z-index: 2;
}

.bt-cancelar{
    width: auto;
    padding:  10px;
    height: 100px;
    margin-top:  20px;
    float: right;
}

.ui-dropdown    {
    background: #c0c0c0 !important;
}


.ui-datatable .ui-datatable-scrollable-body {
    min-height: 0;
    max-height: 100% !important;
}

.input_class{
        border: solid 2px #d9534f;
}