.test{
    position: fixed;
    width: 50%;
    right: 0;
    top:0;
    height: 100%;
    background: #f7f7f7;
    padding-top:  5%;
}

.bt-cancelar{
    width: 200px;
    height: 100px;
    margin-top:  20px;
    float: right;
}