.divtable{
    padding: .75em;
    text-align: center;
}

.red{
    background: red;
}

.green{
    background: green;
}

.yellow{
    background: yellow;
}


.redicon{
    color: red;
}

.greenicon{
    color: green;
}

.yellowicon{
    color: yellow;
}

.adicionaop{
    position: fixed;
    width: 50%;
    right: 0;
    top:0;
    height: 100%;
    background: #f7f7f7;
    padding-top:  5%;
    z-index: 2;
}

.nopadding {
   padding-left: 0 !important;
}