.divtable {
    padding: .75em;
    text-align: center;
}

.divtable>.divspan {
    top: 45%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.divtable tr {
    border-bottom: 1px solid #9b9797;
}

.divtable tr:last-child {
    border-bottom: none;
}

.divtable2 tr {
    border-bottom: 1px solid #9b9797;
}

.divtable2 tr:last-child {
    border-bottom: none;
}

.red {
    background: red;
    height: 100%;
    /* border-bottom: 2px solid #6e6e6e;*/
}

.green {
    background: green;
    height: 100%;
    /* border-bottom: 2px solid #6e6e6e;*/
}

.yellow {
    background: yellow;
    height: 100%;
    /*border-bottom: 2px solid #6e6e6e;*/
    border-color: black;
    color: black;
}

.redicon {
    color: red;
    font-size: 18px;
}

.greenicon {
    color: green;
    font-size: 18px;
}

.yellowicon {
    color: yellow;
    font-size: 18px;
}

.adicionaop {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    height: 100%;
    background: #f7f7f7;
    padding-top: 5%;
    z-index: 2;
}

.nopadding {
    padding-left: 0 !important;
    max-height: 264px;
}

tbody {
    display: inline-grid !important;
    width: 100%
}

.well {
    min-height: 20px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 9px;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
}

/*tabela analise*/

/* Methods */

.method .header, .method .cell {
    padding: 2px 6px 2px 10px;
}

.method .list-header .header {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #999;
    background-color: #eee;
}

.method [class^="row"], .method [class*=" row"] {
    border-bottom: 1px solid #ddd;
    padding: 0;
}

.method [class^="row"]:hover, .method [class*=" row"]:hover {
    background-color: #f7f7f7;
}

.method .cell {
    font-size: 0.85em;
}

.method .cell .mobile-isrequired {
    display: none;
    font-weight: normal;
    text-transform: uppercase;
    color: #aaa;
    font-size: 0.8em;
}

.method .cell .propertyname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.method .cell .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.method .cell code {
    color: #428bca;
}

.method .cell a, .method .cell a:hover {
    text-decoration: none;
}

.method .cell code.custom {
    color: #8a6d3b;
    text-decoration: none;
}

.method .cell .text-muted {
    color: #ddd;
}

@media (max-width: 991px) {
    .method [class^="row"], .method [class*=" row"] {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .method .cell {
        padding: 0 10px;
    }
    .method .cell .propertyname {
        font-weight: bold;
        font-size: 1.2em;
    }
    .method .cell .propertyname .lookuplink {
        font-weight: normal;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        right: 10px;
    }
    .method .cell .type {
        padding-left: 10px;
        font-size: 1.1em;
    }
    .method .cell .isrequired {
        padding-left: 10px;
        display: none;
    }
    .method .cell .description {
        padding-left: 10px;
    }
    .method .cell .mobile-isrequired {
        display: inline;
    }
}

/* Row Utilities */

[class^='row'].margin-0, [class*=' row'].margin-0, [class^='form-group'].margin-0, [class*=' form-group'].margin-0 {
    margin-left: -0px;
    margin-right: -0px;
}

[class^='row'].margin-0>[class^='col-'], [class^='row'].margin-0>[class*=' col-'], [class*=' row'].margin-0>[class^='col-'], [class*=' row'].margin-0>[class*=' col-'], [class^='form-group'].margin-0>[class^='col-'], [class^='form-group'].margin-0>[class*=' col-'], [class*=' form-group'].margin-0>[class^='col-'], [class*=' form-group'].margin-0>[class*=' col-'] {
    padding-right: 0px;
    padding-left: 0px;
}

[class^='row'].margin-0 [class^='row'], [class^='row'].margin-0 [class*=' row'], [class^='row'].margin-0 [class^='form-group'], [class^='row'].margin-0 [class*=' form-group'], [class*=' row'].margin-0 [class^='row'], [class*=' row'].margin-0 [class*=' row'], [class*=' row'].margin-0 [class^='form-group'], [class*=' row'].margin-0 [class*=' form-group'], [class^='form-group'].margin-0 [class^='row'], [class^='form-group'].margin-0 [class*=' row'], [class^='form-group'].margin-0 [class^='form-group'], [class^='form-group'].margin-0 [class*=' form-group'], [class*=' form-group'].margin-0 [class^='row'], [class*=' form-group'].margin-0 [class*=' row'], [class*=' form-group'].margin-0 [class^='form-group'], [class*=' form-group'].margin-0 [class*=' form-group'] {
    margin-left: 0;
    margin-right: 0;
}