<div class="col-md-12 col-md-offset-12" style="float:left; text-align: center">
  <h1>
    QUADRO DE CONTROLO DE OPERAÇÕES
  </h1>
</div>

<div class="col-md-12 col-md-offset-12" style="float:left; padding: 0;">
  <div class="ui-widget-header" style="padding:4px 10px;border: 0 none; background: none;">
    <i class="fa fa-search" style="margin:4px 4px 0 0; font-size: 25px; color: white;"></i>
    <input #gb type="text" [(ngModel)]="input_pesquisa" class="form-control" pInputText size="40" placeholder="Pesquisar" style="padding-left: 8px; width: 20%; display: initial;">
    <a (click)="apaga()" style="cursor: pointer;">
      <i class="fa fa-times" style="margin:4px 4px 0 0; font-size: 25px; color: white;"></i>
    </a>

    <a style="cursor: pointer; margin-left: 50px;" (click)="togglestates()">
      <i class="fa fa-search" style="margin:4px 4px 0 0; font-size: 25px; color: white;"></i>
      <span style="color: white;"> Pesquisa Avançada</span>
    </a>
    <a (click)="atualiza()" style="cursor: pointer; float: right;">
      <i class="fa fa-refresh" style="margin:4px 4px 0 25px; font-size: 25px; color: white;"></i>
    </a>
    <p-checkbox style="float: right; color:white;" [(ngModel)]="checked" label="Automatismo" binary="true"></p-checkbox>
  </div>
  <p-dataTable (onRowDblclick)="onRowDblclick($event)" [value]="tabela" [rows]="1" class="tabelacontrolo" [globalFilter]="gb"
    selectionMode="single" [(selection)]="selectedCar2" (onRowSelect)="onRowSelect($event)" dataKey="pos" scrollable="true"
    [rows]="1">
    <p-column field="pos" header="" [style]="{'background':'black','width':'3%'}">
      <ng-template let-col let-row="rowData" pTemplate="body">
        <div class="divtable">
          <span *ngIf="row['mensagens'] > 0" style="font-size: 20px; display: block; margin-top: -5px; margin-bottom: 16px;">
            <a (click)="ver_mensagens(row['id_of_cab'],row['pos'])"> <i *ngIf="!row['total_lidas']" class="fa fa-envelope-o " style="color: white" aria-hidden="true"></i></a>
            <a (click)="ver_mensagens(row['id_of_cab'],row['pos'])"> <i *ngIf="row['total_lidas']" class="fa fa-envelope-open-o " style="color: white" aria-hidden="true"></i></a>
          </span>
          <span>
            <i class="fa fa-circle  {{row['cor_of']}}icon" aria-hidden="true"></i>
          </span>
        </div>
      </ng-template>
    </p-column>
    <p-column field="of" header="OF" [sortable]="true" [style]="{'width':'4%'}">
      <ng-template pTemplate="body" *ngFor="let col of rowData">
        <div class="divtable">
          {{col.field}}
        </div>
      </ng-template>
    </p-column>
    <p-column field="operacao" header="Oper" [sortable]="true" [style]="{'width':'3%'}">
      <ng-template pTemplate="body" *ngFor="let col of rowData">
        <div class="divtable">
          {{row[col.field]}}
        </div>
      </ng-template>
    </p-column>
    <p-column field="maquina" header="Máq." [sortable]="true" [style]="{'width':'7%'}">
      <ng-template pTemplate="body" *ngFor="let col of rowData">
        <div class="divtable" style="font-size: 10px;">
          {{row[col.field]}}
        </div>
      </ng-template>
    </p-column>
    <p-column field="qtd_func" header="Func. Ativos" [sortable]="true" [style]="{'width':'3%','font-size': '12px'}">
      <ng-template pTemplate="body" *ngFor="let col of rowData">
        <div class="divtable" style="font-size: 10px;">
          {{row[col.field]}}
        </div>
      </ng-template>
    </p-column>
    <p-column field="func" header="Func." [sortable]="true" [style]="{'width':'7%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px; ">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="dt_inicio" header="Dt. Início" [sortable]="true" [style]="{'width':'4%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px; ">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="hora_inicio" header="Hora Início" [sortable]="true" [style]="{'width':'3%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px;">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="dt_fim" header="Dt. Fim" [sortable]="true" [style]="{'width':'4%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px; ">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="hora_fim" header="Hora Fim" [sortable]="true" [style]="{'width':'3%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px; ">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="tempo_prod" header="Tempo Prod." [sortable]="true" [style]="{'width':'4%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px; ">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="ref" header="Ref." [sortable]="true" [style]="{'width':'6%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding:0;">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="artigo" header="Artigo" [sortable]="true" [style]="{'width':'12%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px">
          <tr style=" font-size: 0.71vw;" *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="qtd_of" header="Qtd. OF" [sortable]="true" [style]="{'width':'3%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px">
          <tr *ngFor="let col2 of row[col.field]">
            <td class=" {{col2.cor}}">{{col2.value}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="qtd_boas" header="Qtd. Boas" [sortable]="true" [style]="{'width':'4%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable " style="padding: 0px">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="total_def" header="Total Def." [sortable]="true" [style]="{'width':'4%','position':'relative'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable2 " style="padding: 0px; ">
          <tr *ngFor="let col2 of row[col.field]">
            <td class=" {{col2.cor}}">{{col2.value}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="perc_def" header="% Defeitos" [sortable]="true" [style]="{'width':'5%','position':'relative'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable2" style="padding: 0px;">
          <tr *ngFor="let col2 of row[col.field]">
            <td class=" {{col2.cor}}">{{col2.value}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="perc_obj" header="% Objetivo" [sortable]="true" [style]="{'width':'5%'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable" style="padding: 0px">
          <tr *ngFor="let col2 of row[col.field]">
            <td>{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
    <p-column field="estado" header="Estado" [sortable]="true" [style]="{'width':'4%','position':'relative'}">
      <ng-template pTemplate="body" let-col let-row="rowData ">
        <div class="divtable2" style="padding: 0px">
          <tr *ngFor="let col2 of row[col.field]">
            <td class="{{row['cor_estado']}}">{{col2}}</td>
          </tr>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
<div class="col-md-12 col-md-offset-12" style="float:left; margin-top: 10px;">
  <div class="col-md-3 col-md-offset-3" style="float:left;">
    <i class="fa fa-file-o" aria-hidden="true" style="font-size:30px;"></i>
    <i class="fa fa-trash-o" aria-hidden="true" style="font-size:30px;"></i>
    <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:30px;"></i>
  </div>
  <div class="col-md-6 col-md-offset-6" style="float:left; text-align: center;">
    <h3>
      <a [hidden]="hiddenvermais" style="cursor: pointer; margin-left: 50px;" (click)="vermais()">
        <u> VER MAIS </u>
      </a>
    </h3>
  </div>
  <div class="col-md-3 col-md-offset-3" style="float:left;">
    <i class="fa fa-search-plus" aria-hidden="true" style="font-size:30px; float: right;"></i>
  </div>
</div>

<div [hidden]="atualizacao" style="height: 100%; width: 100%; background: rgba(0, 0, 0, 0.33); position: fixed; text-align: -webkit-center; padding-top: 10%;">
  <i class="fa fa-spinner fa-spin" style="font-size:70px"></i>
</div>


<div id="adicionaop">
  <div class="list-group adicionaop" [@movementtrigger]="state" style="display:none;" (clickOutside)="ontogglestates($event)">
    <div class="col-md-12 col-md-offset-12" style="float:left; text-align: center; color: black; flex: 0 0 9%;">
      <h3>
        PESQUISA AVANÇADA
      </h3>
    </div>
    <div class="col-md-12 col-md-offset-12" style="float:left; color: black; flex: 0 0 9%;">
      <form id="formArranque">
        <div class="col-md-3 col-md-offset-3 nopadding" style="float:left;">
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Data Início >=</label>
            <p-calendar [(ngModel)]="pesquisa.date1" [ngModelOptions]="{standalone: true}"></p-calendar>
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Data Fim >=</label>
            <p-calendar [(ngModel)]="pesquisa.date2" [ngModelOptions]="{standalone: true}"></p-calendar>
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Tempo Prod. >=</label>
            <input class="form-control" [(ngModel)]="pesquisa.tempo_prod_maior" [ngModelOptions]="{standalone: true}" type="time" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Ordem Fabrico</label>
            <input class="form-control" [(ngModel)]="pesquisa.ordem" [ngModelOptions]="{standalone: true}" type="text" />
          </div>

        </div>
        <div class="col-md-3 col-md-offset-3 nopadding" style="float:left;">
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">
              <=D ata Início</label>
                <p-calendar [(ngModel)]="pesquisa.date3" [ngModelOptions]="{standalone: true}"></p-calendar>
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">
              <=D ata Fim</label>
                <p-calendar [(ngModel)]="pesquisa.date4" [ngModelOptions]="{standalone: true}"></p-calendar>
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">
              <=T empo Prod.</label>
                <input class="form-control" [(ngModel)]="pesquisa.tempo_prod_menor" [ngModelOptions]="{standalone: true}" type="time" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Operação</label>
            <input class="form-control" [(ngModel)]="pesquisa.operacao" [ngModelOptions]="{standalone: true}" type="text" />
          </div>
        </div>
        <div class="col-md-3 col-md-offset-3 nopadding" style="float:left;">
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Hora Início >=</label>
            <input class="form-control" [(ngModel)]="pesquisa.hora1" [ngModelOptions]="{standalone: true}" type="time" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Hora Fim >=</label>
            <input class="form-control" [(ngModel)]="pesquisa.hora2" [ngModelOptions]="{standalone: true}" type="time" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Quant. >=</label>
            <input class="form-control" [(ngModel)]="pesquisa.qtt" [ngModelOptions]="{standalone: true}" type="number" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Máquina</label>
            <input class="form-control" [(ngModel)]="pesquisa.maquina" [ngModelOptions]="{standalone: true}" type="text" />
          </div>
        </div>
        <div class="col-md-3 col-md-offset-3 nopadding" style="float:left;">
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">
              <=H ora Início</label>
                <input class="form-control" [(ngModel)]="pesquisa.hora3" [ngModelOptions]="{standalone: true}" type="time" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">
              <=H ora Fim</label>
                <input class="form-control" [(ngModel)]="pesquisa.hora4" [ngModelOptions]="{standalone: true}" type="time" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">
              <=Q uant.</label>
                <input class="form-control" [(ngModel)]="pesquisa.qttmenor" [ngModelOptions]="{standalone: true}" type="number" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Funcionário</label>
            <input class="form-control" [(ngModel)]="pesquisa.func" [ngModelOptions]="{standalone: true}" type="text" />
          </div>
        </div>
        <div class="col-md-3 col-md-offset-3 nopadding" style="float:left;">
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Referência</label>
            <input class="form-control" [(ngModel)]="pesquisa.ref" [ngModelOptions]="{standalone: true}" type="text" />
          </div>
        </div>
        <div class="col-md-9 col-md-offset-9 nopadding" style="float:left;">
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Designação da Referência</label>
            <input class="form-control" [(ngModel)]="pesquisa.design_ref" [ngModelOptions]="{standalone: true}" type="text" />
          </div>
        </div>
        <div class="col-md-3 col-md-offset-3 nopadding" style="float:left;">
          <div class="form-group">
            <label class="control-label requiredField" style="width: 100%; ">Estado</label>
            <p-dropdown [(ngModel)]="pesquisa.estado" class="comboestado" [ngModelOptions]="{standalone: true}" [options]="estados" [style]="{'width':'80%'}"></p-dropdown>
            <!-- <input class="form-control" [(ngModel)]="pesquisa.estado" [ngModelOptions]="{standalone: true}" type="text" />-->
          </div>
        </div>
        <div class="col-md-12 col-md-offset-12 nopadding" style="float:left;">
          <button pButton type="button" (click)="aplicar()" label="APLICAR" style="float:right;"></button>
          <button pButton type="button" (click)="limpar()" label="LIMPAR" style="float:right;"></button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- POPUP MENSAGEM-->
<p-dialog header="Mensagens" (onHide)="fechar()" class="mensagem_dialog" positionTop="2" [(visible)]="displaymensagem" modal="modal" [responsive]="true"  [dismissableMask]="true"
[draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left; font-size: 18px; overflow: auto; max-height: 60vh;">
    <div class="container" style="padding: 0;">
      <div class="well" *ngFor="let col of mensagens">
        <div class="media">
          <div class="media-body" style="margin-bottom: 7px;">
            <h6 class="media-heading" style="display: inline;">Assunto: </h6><span>{{col.assunto}}</span>
            <br>
            <h6 class="media-heading" style="display: inline;">Mensagem: </h6><span>{{col.mensagem}}</span>
            <ul class="list-inline list-unstyled" style="margin-bottom: 0px; font-size: 12px; margin-top: 4px;">
              <li><span><i class="fa fa-calendar" aria-hidden="true"></i> {{col.data}} </span></li>
              <li>|</li> 
              <li><span><i class="fa fa-user-o" aria-hidden="true"></i> {{col.nome}} </span></li>
            </ul>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="displaymensagem = false" label="Fechar"></button>
    </div>
  </p-footer>
</p-dialog>
