<div class="container" style="position: relative; z-index:1;">
    <div class="row">
        <div class="col-md-4 col-sm-8 col-lg-5 phone">
            <div class="iconmelon">

                <img style="width: 97%;" src="assets/logo_load.png" />
                <br>
                <span style="color:black; font-size: 13pt;">
                    <b>SIIP</b> - Sistema Integrado de Informação de Produção
                </span>

            </div>
        </div>
        <div class="col-md-8 col-sm-10 col-lg-5 phone" style="padding: 0px;">
            <div class="row1">
                <div class="col-md-9 col-sm-9 col-xs-9 col-lg-10" style="padding: 0px;">
                    <div class="num-pad">
                        <div class="span4">
                            <button type="button" class="num" (click)="append('1')" label="1" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('2')" label="2" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('3')" label="3" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('4')" label="4" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('5')" label="5" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('6')" label="6" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('7')" label="7" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('8')" label="8" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('9')" label="9" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num" (click)="append('0')" label="0" pButton></button>
                        </div>
                        <div class="span4">
                            <button type="button" class="num num1" (click)="undo()" label="APAGAR" pButton></button>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>

            <div class="clearfix">
            </div>
            <input readonly type="password" name="name" id="telNumber" #box class="form-control tel " style="width: 75%; font-size: 27pt; padding: 0;"
                value="{{ operation }}" maxlength="4" />
        </div>
    </div>
</div>
<div id="particles"></div>
<div *ngIf="edited" class="alert alert-success box-msg" role="alert" style="text-align:center; position: relative; z-index:1;">
    <strong>É O(A) OPERADOR(A): {{ name }}?</strong>
    <br>
    <br>
    <button (click)="redirect()" class="btn btn-success btn-recreate btn-lg" type="button">SIM</button>
    <button (click)="reset()" class="btn btn-danger btn-destroy btn-lg" type="button" style="margin-left: 30px;">NÃO</button>


</div>


<!--
    ***********EXEMPLO HREF
    <a routerLink="/teste">Heroes</a>-->

<p-dialog [(visible)]="display" modal="modal" min-width="600" [responsive]="true" [dismissableMask]="true" [dismissableMask]="true"
    [draggable]="false">
    <div style="text-align:center;">
        <h1> Qual o perfil de utilização pretendido? </h1>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: center;">
            <button type="button" [hidden]="isHidden1" pButton (click)="novaoperacao()" label="OPERADOR" style="float: none; width: auto;"></button>
            <button type="button" [hidden]="isHidden2" pButton (click)="adminarea()" label="ADMINISTRAÇÃO" style="float: none; width: auto;"></button>
            <button type="button" [hidden]="isHidden3" pButton (click)="controlo()" label="CONTROLO" style="float: none; width: auto;"></button>
        </div>
    </p-footer>
</p-dialog>

<!-- POPUP LOGIN ADMIN -->
<p-dialog [(visible)]="display2" modal="modal" min-width="600" [responsive]="true" [dismissableMask]="true" [dismissableMask]="true"
    [draggable]="false">
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: center; border: none;">
        <button type="button" pButton routerLink="/config" label="ADMINISTRAÇÃO" style="float: none; width: auto;"></button>
        <button type="button" pButton routerLink="/controlo" label="CONTROLO" style="float: none; width: auto;"></button>
    </div>
</p-dialog>

<!-- Preparação em curso -->

<p-dialog [(visible)]="displayprep" modal="modal" min-width="600" [responsive]="true" [dismissableMask]="true" [dismissableMask]="true"
    [draggable]="false">
    <div style="text-align:center;">
        <h1>Que operação pretende fazer?</h1>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: center;">
            <button type="button" pButton (click)="finalizarprep()" label="FINALIZAR PREPARAÇÃO E INICIAR EXECUÇÃO" style="float: none; width: auto;"></button>
            <button type="button" pButton (click)="pausa()" label="FAZER PAUSA NA PREPARAÇÃO" style="float: none; width: auto;"></button>
            <button type="button" pButton (click)="concluir()" label="CONCLUIR TRABALHO" style="float: none; width: auto;"></button>
        </div>
    </p-footer>
</p-dialog>

<!-- Pausa em curso -->

<p-dialog [(visible)]="displaypausa" modal="modal" min-width="600" [responsive]="true" [dismissableMask]="true" [dismissableMask]="true"
    [draggable]="false">
    <div style="text-align:center;">
        <h1>ESTÁ EM PAUSA. PRETENDE RETOMAR O TRABALHO?</h1>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: center;">
            <button type="button" pButton (click)="finalizarpausa()" label="SIM" style="float: none; width: auto;"></button>
            <button type="button" pButton (click)="cancelar()" label="NÃO" style="float: none; width: auto;"></button>
        </div>
    </p-footer>
</p-dialog>