<div class="col-md-12 col-md-offset-12" style="height: 50px; text-align: center;">
  <h1>
    TIPO DE PAUSA
  </h1>

</div>
<br>
<div class="col-md-12 col-md-offset-12" style="height: 50px; text-align: center;">
  <div class="col-md-3 col-md-offset-3 nopadding" style="float:left;">
    <button pButton type="button" label="Voltar" (click)="backClicked()" icon="fa-chevron-left" class="btstyle ui-button-primary"></button>
  </div>

  <div *ngFor="let item of pausas let i = index" [attr.data-index]="i" class="col-md-3 col-md-offset-3 nopadding" style="float:left;">
    <button pButton type="button" label="{{ item.design }}" (click)="pausa(item.id,item.design)" class="btstyle ui-button-secondary"></button>
  </div>
</div>


<p-confirmDialog header="Confirmação" width="425"></p-confirmDialog>

<!--popup alerta-->
<p-dialog header="Alerta" [closable]="false" [(visible)]="display_alerta" class="novoop" modal="modal" width="700"
  [responsive]="true" [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="float: left;">
    <div class="ui-grid-row">
      <div class="form-group" style="text-align: center;">
        Não é possível entrar em pausa, o utilizador atual já se encontra em Pausa!
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" routerLink="/home" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>