<div class="row wrapper">
  <!-- <div class="col-md-12 col-md-offset-12">
    <button type="button" class="ui-button-secondary" pButton routerLink="/home" label="Voltar" style="float: right;"></button>
  </div>-->
  <p-tabView class="gestao">
    <p-tabPanel header="Famílias de defeitos">
      <p-dataTable [rowsPerPageOptions]="[5,10,50,100]" [value]="list1" [paginator]="true" [pageLinks]="3" rows="10" [responsive]="true"
        selectionMode="single" (onRowSelect)="onRowSelectfam($event)" datakey="id">
        <p-column field="fam_field" header="Operação Principal" [sortable]="true" [filter]="true" filterMatchMode="contains" [style]="{'overflow':'visible'}">
        </p-column>
        <p-column field="op_field" [sortable]="true" [filter]="true" filterMatchMode="contains" header="Operações permitidas"></p-column>
        <p-column styleClass="col-button" [style]="{'width':'70px'}">
          <ng-template let-op="rowData" pTemplate="body">
            <button type="button" class="ui-button-danger" pButton (click)="deleterow(op)" icon="fa-times"></button>
          </ng-template>
        </p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="AddFamDef()" label="Adicionar"></button></div>
        </p-footer>
      </p-dataTable>

    </p-tabPanel>

    <p-tabPanel header="Acessos">
      <div class="col-md-12 col-md-offset-12" style="">
        <div class="col-md-5 col-md-offset-5" style="float:left;">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0; float: left; font-size: 33px;"></i>
            <input #gba type="text" pInputText size="50" placeholder="Pesquisar" class="form-control" style="width: 90%;">
          </div>
          <p-dataTable [globalFilter]="gba" #dt1 [value]="list2" selectionMode="single" (onRowSelect)="onRowSelect($event)" dataKey="no"
            scrollable="true" scrollHeight="750px" [responsive]="true" [rows]="10">
            <p-column field="field" header="Utilizadores" [sortable]="true"></p-column>
          </p-dataTable>
        </div>
        <div class="col-md-2 col-md-offset-2" style="float:left; text-align: center;">
          <div style="height: 250px;     padding-top: 30%;">
            <button (click)="insere('list3')" icon="fa-angle-double-right" pbutton="" type="button" ng-reflect-icon="fa-angle-double-right"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-right"></span><span class="ui-button-text ui-c">ui-button</span></button>
            <button (click)="apagar('list3')" icon="fa-angle-double-left" pbutton="" type="button" ng-reflect-icon="fa-angle-double-left"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-left"></span><span class="ui-button-text ui-c">ui-button</span></button>
          </div>
          <div style="height: 250px;     padding-top: 30%;">
            <button (click)="insere('list4')" icon="fa-angle-double-right" pbutton="" type="button" ng-reflect-icon="fa-angle-double-right"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-right"></span><span class="ui-button-text ui-c">ui-button</span></button>
            <button (click)="apagar('list4')" icon="fa-angle-double-left" pbutton="" type="button" ng-reflect-icon="fa-angle-double-left"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-left"></span><span class="ui-button-text ui-c">ui-button</span></button>
          </div>
          <div style="height: 250px;     padding-top: 30%;">
            <button (click)="insere('list5')" icon="fa-angle-double-right" pbutton="" type="button" ng-reflect-icon="fa-angle-double-right"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-right"></span><span class="ui-button-text ui-c">ui-button</span></button>
            <button (click)="apagar('list5')" icon="fa-angle-double-left" pbutton="" type="button" ng-reflect-icon="fa-angle-double-left"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-left"></span><span class="ui-button-text ui-c">ui-button</span></button>
          </div>
          <div style="height: 250px;     padding-top: 30%;">
              <button (click)="insere('list7')" icon="fa-angle-double-right" pbutton="" type="button" ng-reflect-icon="fa-angle-double-right"
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-right"></span><span class="ui-button-text ui-c">ui-button</span></button>
              <button (click)="apagar('list7')" icon="fa-angle-double-left" pbutton="" type="button" ng-reflect-icon="fa-angle-double-left"
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-left"></span><span class="ui-button-text ui-c">ui-button</span></button>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-5" style="float:left;">
          <div style="height: 250px;">
            <p-dataTable scrollable="true" scrollHeight="200px" [value]="list3" selectionMode="single" (onRowSelect)="onRowSelect3($event)"
              dataKey="no">
              <p-column field="field" header="Perfil Operador" [sortable]="true"></p-column>
            </p-dataTable>
          </div>
          <div style="height: 250px;">
            <p-dataTable scrollable="true" scrollHeight="200px" [value]="list4" selectionMode="single" (onRowSelect)="onRowSelect4($event)"
              dataKey="no">
              <p-column field="field" header="Perfil Chefe de Seção" [sortable]="true"></p-column>
            </p-dataTable>
          </div>
          <div style="height: 250px;">
            <p-dataTable scrollable="true" scrollHeight="200px" [value]="list5" selectionMode="single" (onRowSelect)="onRowSelect5($event)"
              dataKey="no">
              <p-column field="field" header="Perfil Administrador" [sortable]="true"></p-column>
            </p-dataTable>
          </div>
          <div style="height: 250px;">
              <p-dataTable scrollable="true" scrollHeight="200px" [value]="list7" selectionMode="single" (onRowSelect)="onRowSelect7($event)"
                dataKey="no">
                <p-column field="field" header="Perfil Edição" [sortable]="true"></p-column>
              </p-dataTable>
            </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Responsáveis de cada secção">

      <p-dataTable [rowsPerPageOptions]="[5,10,50,100]" [value]="list6" selectionMode="single" (onRowSelect)="onRowSelect6($event)" [paginator]="true" rows="10" [responsive]="true">
        <p-header>Responsáveis</p-header>
        <p-column field="name" header="Chefe de Secção" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="seccao" header="Secção" [sortable]="true" [filter]="true" filterMatchMode="contains" ></p-column>
        <p-column styleClass="col-button" [style]="{'width':'70px'}">
          <ng-template let-op="rowData" pTemplate="body">
            <button type="button" class="ui-button-danger" pButton (click)="deleterespsecc(op)" icon="fa-times"></button>
          </ng-template>
        </p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Adicionar"></button></div>
        </p-footer>
      </p-dataTable>

    </p-tabPanel>

    <p-tabPanel header="Operações não Previstas">

      <div class="col-md-12 col-md-offset-12" style="height: 600px;">
        <div class="col-md-5 col-md-offset-5" style="float:left;">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0; float: left; font-size: 33px;"></i>
            <input #gb2 type="text" pInputText size="50" placeholder="Pesquisar" class="form-control" style="width: 90%;">
          </div>
          <p-dataTable [globalFilter]="gb2" #dt [value]="listallop" selectionMode="single" (onRowSelect)="onRowSelectallop($event)"
            dataKey="codigoop" scrollable="true" scrollHeight="500px" [responsive]="true" [rows]="10">
            <p-column field="field" header="Todas as Operações" [sortable]="true"></p-column>
          </p-dataTable>
        </div>
        <div class="col-md-2 col-md-offset-2" style="float:left; text-align: center;">
          <div style="height: 250px;     padding-top: 30%;">
            <button (click)="insere('listop')" icon="fa-angle-double-right" pbutton="" type="button" ng-reflect-icon="fa-angle-double-right"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-right"></span><span class="ui-button-text ui-c">ui-button</span></button>
            <button (click)="apagar('listop')" icon="fa-angle-double-left" pbutton="" type="button" ng-reflect-icon="fa-angle-double-left"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-left"></span><span class="ui-button-text ui-c">ui-button</span></button>
          </div>

        </div>
        <div class="col-md-5 col-md-offset-5" style="float:left;">
          <div>
            <p-dataTable scrollable="true" [value]="listaop" selectionMode="single" scrollHeight="500px" (onRowSelect)="onRowSelectop($event)"
              dataKey="id">
              <p-column field="field" header="Operações Seleccionadas" [sortable]="true"></p-column>
            </p-dataTable>
          </div>

        </div>
      </div>

    </p-tabPanel>

    <p-tabPanel header="Famílias c/ Componentes">

      <div class="col-md-12 col-md-offset-12" style="height: 600px;">
        <div class="col-md-5 col-md-offset-5" style="float:left;">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0; float: left; font-size: 33px;"></i>
            <input #gb type="text" pInputText size="50" placeholder="Pesquisar" class="form-control" style="width: 90%;">
          </div>
          <p-dataTable [globalFilter]="gb" #dt [value]="listallfam" selectionMode="single" (onRowSelect)="onRowSelectallfam($event)"
            dataKey="codigofam" scrollable="true" scrollHeight="500px" [responsive]="true" [rows]="10">
            <p-column field="field" header="Todas as Familias" [sortable]="true"></p-column>
          </p-dataTable>
        </div>
        <div class="col-md-2 col-md-offset-2" style="float:left; text-align: center;">
          <div style="height: 250px; padding-top: 30%;">
            <button (click)="insere('listfamcomp')" icon="fa-angle-double-right" pbutton="" type="button" ng-reflect-icon="fa-angle-double-right"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-right"></span><span class="ui-button-text ui-c">ui-button</span></button>
            <button (click)="apagar('listfamcomp')" icon="fa-angle-double-left" pbutton="" type="button" ng-reflect-icon="fa-angle-double-left"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-angle-double-left"></span><span class="ui-button-text ui-c">ui-button</span></button>
          </div>

        </div>
        <div class="col-md-5 col-md-offset-5" style="float:left;">
          <div>
            <p-dataTable scrollable="true" [value]="listafam" selectionMode="single" scrollHeight="500px" (onRowSelect)="onRowSelectfamsel($event)"
              dataKey="id">
              <p-column field="field" header="Famílias Seleccionadas" [sortable]="true"></p-column>
            </p-dataTable>
          </div>

        </div>
      </div>

    </p-tabPanel>
  </p-tabView>
</div>
<!-- POPUP RESPONS. SECÇÃO-->
<p-dialog header="Responsável" [(visible)]="displayDialog" modal="modal" width="750" [responsive]="true" [dismissableMask]="true"
  [dismissableMask]="true" [draggable]="false">
  <div class="col-md-6 col-md-offset-6" style="height: 48vh; float: left; font-size: 18px;">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12"><label for="vin">Chefe de Secção</label></div>
      <p-dropdown [filter]="true" [options]="brand1" scrollHeight="130px" [style]="{'width':'100%'}" [(ngModel)]="selected1" #t (onFocus)="carregachefe($event,t.label,t.value)"></p-dropdown>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-6" style="height: 48vh; float: left; font-size: 18px;">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12"><label for="vin">Secção</label></div>
      <p-dropdown [filter]="true" [options]="brand2" scrollHeight="130px" [style]="{'width':'100%'}" [(ngModel)]="selected2" #d (onFocus)="carregaseccao($event,d.label,d.value)"></p-dropdown>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="cancel()" label="Cancelar"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Gravar"></button>
    </div>
  </p-footer>
</p-dialog>

<!-- POPUP FAMILIAS DE DEFEITOS-->
<p-dialog header="Famílias de Defeitos" [(visible)]="displayfamdialog" modal="modal" width="750" [responsive]="true" [dismissableMask]="true"
  [dismissableMask]="true" [draggable]="false">
  <div class="col-md-6 col-md-offset-6" style="height: 48vh; float: left; font-size: 18px;">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12"><label for="vin">Operação Principal</label></div>
      <p-dropdown [filter]="true" [options]="fam" scrollHeight="130px" [style]="{'width':'100%'}" [(ngModel)]="selefam" #a (onFocus)="carregafam($event,a.label,a.value)"></p-dropdown>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-6" style="height: 48vh; float: left; font-size: 18px;">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12"><label for="vin">Operação Permitida</label></div>
      <p-dropdown [filter]="true" [options]="fam" scrollHeight="130px" [style]="{'width':'100%'}" [(ngModel)]="seleopp" #s (onFocus)="carregaoppermitida($event,s.label,s.value)"></p-dropdown>
    </div>
  </div>
  <small *ngIf="encontrou" style="color: red; position: fixed; display: table; margin-top: 77px; margin-left: 13px;">*Combinação Operação Principal e Operação Permitida já se encontra disponível!</small>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="cancelfam()" label="Cancelar"></button>
      <button type="button" pButton icon="fa-check" (click)="savefam()" label="Gravar"></button>
    </div>
  </p-footer>
</p-dialog>





<p-confirmDialog header="Confirmação" width="425"></p-confirmDialog>