<div *ngIf="ishome('home') " class="top_text" style="color:black; position: sticky; top: 0; z-index: 800; background: #eeeeee; -webkit-ruby-position: before; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <nav class="navbar navbar-transparent navbar-absolute gradient" style="padding-top: 3px;">
        <div class="container-fluid" style="position: relative; width: 100%; padding: 0;">
            <div class="col-md-12" style="padding: 0;">
                <div class="col-md-7" style="max-height:37px; padding: 0; float: left;">
                    <div style="float: left;">
                        <img src="assets/logo_load.png" style="max-height:42px;" />
                    </div>
                    <div class="versao" style="display: -webkit-inline-box; margin-left: 5px; margin-top: 8px; color: black;">
                        <span> <b style="font-size: 12pt;">SIIP - Sistema Integrado de Informação de Produção</b></span>
                        <!--  <span style="font-size: 7pt; margin-top: -3px;position: absolute;">
                    ({{modulo}} - {{versao}})
                    </span>-->
                    </div>
                </div>
                <div class="col-md-5 utz" style="float: left; text-align:center; padding: 0;">
                    <div style="font-size: 11pt; display: -webkit-inline-box; margin-left: 5px; margin-top: 11px; color: black;">
                        <b style="vertical-align: middle;">Utilizador:</b><span style="vertical-align: middle;"> {{isnome()}}</span>
                        <a title="Sair" *ngIf="!ishome('controlo') || !ishome('config')" (click)="logout()" style=" margin-left: 10px; float: right; cursor: pointer; ">
                            <i class="fa fa-window-close-o" style="font-size: 25px;" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>