/* You can add global styles to this file, and also import other style files */

.mainpage {
    padding: 20px;
}


label {
    margin-bottom: 0 !important;
}

.form-group {
    margin-bottom: 0 !important;
}

input {
    line-height: inherit !important;
}