.form-group{
    width: 10%;
    float: left;
}

.form-group1{
    padding-top: 4px;
    float: none;
}

input:read-only { 
    background-color: #c0c0c0;
}

.nopadding {
   padding-left: 0 !important;
}

.fundoverde{
    background: #0eac4e !important;
}

.fundoamarelo{
    background: yellow !important;
}

.fundovermelho{
    background: red !important;
    ;
}