<div class="row wrapper">
  <div class="col-md-12 col-md-offset-12 nopadding" style="height: 50px; text-align: center;  padding-right:0;">
    <div class="col-md-3 col-md-offset-3 nopadding" style="height: 50px;  float: left;">
      <button type="button" class="form-control btn btn-primary" icon="fa-chevron-left" pButton (click)="prevItem()" [(disabled)]="disabledrefanterior"
        style="width: auto; height: 60px; float: left;" label="Referência Anterior"></button>
    </div>
    <div class="col-md-6 col-md-offset-6 nopadding" style="height: 50px;  float: left;">
      <h6>
        REGISTO DE QUANTIDADES REFERÊNCIA <span *ngIf="!comp">(PF)</span><span *ngIf="comp">(COMP)</span>:
      </h6>
      <h5><b>
    {{ref_name}}
    </b>
      </h5>
    </div>
    <div class="col-md-3 col-md-offset-3 nopadding" style="height: 50px;  float: left;  padding-right:0;">
      <button type="button" class="form-control btn btn-primary" icon="fa-chevron-right" iconPos="right" pButton (click)="nextItem()"
        [(disabled)]="disabledrefseguinte" style="width: auto; height: 60px; float: right;" label="Referência Seguinte"></button>
    </div>
  </div>
  <div class="col-md-12 col-md-offset-12 nopadding" style="height: 50px; margin: 23px 0 0 0; text-align: center;">
    <div [class.invisible]="!comp" class="col-md-5 col-md-offset-5 nopadding" style="text-align: left; text-align: left; margin: 0 auto; display: table;">
      <label class="control-label " for="name"><h6>Nº Etiqueta:</h6></label>
      <div class="icon-addon " style="width: 100%;">
        <input [disabled]="num_lote!='' && num_lote != null" [(ngModel)]="num_etiqueta" [ngModelOptions]="{standalone: true}" (keyup.enter)="pesquisaetiqueta()"
          class="form-control" type="text" #num (ngModelChange)="num_etiqueta=num.value" style="text-align: center; width:60%; display: inline; margin-left: 10px;"
          min="0" />
      </div>
      <span class="input-group-btn" style="width: 10%; display: inline;">
          <button [disabled]="num_lote!='' && num_lote != null" (click)="pesquisaetiqueta()" class="btn {{bt_class}}" type="button" style="opacity: 1; line-height: 0; height: 36.8px; margin-top: -3px; margin-left: -10px;"><i *ngIf="refresh" class="fa fa-refresh"></i>
          <i *ngIf="spinner" class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
          <span  class="sr-only">Loading...</span></button>
      <button *ngIf="num_lote!='' && num_lote != null" (click)="apagardados()" class="btn btn-danger" type="button" style="opacity: 1; line-height: 0; height: 36.8px; margin-top: -3px; margin-left: 10px;">
        <i class="fa fa-trash"></i></button>

      </span>
      <h6 style="margin-top: 7px;">Nº OF Componente/Lote: <span style="font-weight: 300">{{num_lote}}</span></h6>
    </div>
  </div>
  <div class="col-md-12 col-md-offset-12 nopadding" style="height: 90px; margin: 23px 0 0 0; text-align: center;">
    <div class="col-md-1 col-md-offset-1 nopadding" style=" float: left;">
    </div>
    <div class="col-md-2 col-md-offset-2 nopadding" style=" float: left;">
      <label class="control-label " for="name">Quant. Boas</label>
      <input value="{{qttboas}}" class="form-control" type="number" #box (change)="updatetotal(box.value)" style="text-align: center;"
        min="0" style="text-align: center;" />
    </div>
    <div class="col-md-1 col-md-offset-1 nopadding" style=" float: left;">
      <div class="form-group1">
        <i style="font-size: 50px;">+</i>
      </div>
    </div>
    <div class="col-md-2 col-md-offset-2 nopadding" style=" float: left;">
      <label class="control-label " for="name">Total Defeitos</label>
      <input class="form-control" type="text" style="text-align: center;" readonly value="{{totaldefeitos}}" />
    </div>
    <div class="col-md-1 col-md-offset-1 nopadding" style=" float: left;">
      <div class="form-group1">
        <i style="font-size: 50px;">=</i>
      </div>
    </div>
    <div class="col-md-2 col-md-offset-2 nopadding" style=" float: left;">
      <label class="control-label " for="name">Total Control</label>
      <input class="form-control {{corfundo}}" type="text" readonly style="text-align: center;" value="{{totalcontrol}}" />
    </div>
    <div class="col-md-2 col-md-offset-2 " style=" float: left;">
      <label class="control-label " for="name">Quant. OF</label>
      <input class="form-control" type="text" style="text-align: center;" value="{{qtdof}}" readonly />
    </div>
    <div class="col-md-1 col-md-offset-1 nopadding" style=" float: left;">
    </div>
  </div>
  <div class="col-md-12 col-md-offset-12 nopadding" style=" float: left; background: rgba(169, 162, 162, 0.92); padding: 0;">
    <form #valForm="ngForm" (ngSubmit)="submitFunc(valForm.value); ">
      <p-tabView *ngIf="tabSets" orientation="left" class="tabcss" (onChange)="handleChange($event)">
        <p-tabPanel *ngFor="let tab of tabSets" header="{{tab.label}}">
          <div class="col-md-12 col-md-offset-12" style="height: auto; display: inline-block; margin-bottom: 23px;">
            <div *ngFor="let item of items" class="col-md-4 col-sm-4 col-lg-3  col-md-offset-3 nopadding" style="float:left;">
              <label class="control-label requiredField" style="width: 100%; margin-bottom:0px; /*min-height:48px;*/font-size: 90%; " for="{{ item.cod }}">{{ item.cod }} - {{ item.des }}</label>
              <input class="form-control" id="{{ item.cod }}" (ngModelChange)="alteraValor(inputvalue.value,item.id_DEF_LIN)" name="{{ item.cod }}"
                #inputvalue [(ngModel)]="item.value" type="number" min="0" style="height: 45px; font-size: 25px;" />
            </div>
          </div>
          <div class="col-md-12 col-md-offset-12 nopadding" style="position: absolute;bottom: 0; margin-top: 16px; text-align: right; width: 74%;">
            <a style="cursor: pointer" (click)="adicionarobs(tab.id)">
              <h5>Adicionar/Consultar Observações do Defeito Selecionado<i class="fa fa-plus fa-1x fa-fw"></i></h5>
            </a>
          </div>
        </p-tabPanel>
        <button type="input" #fileInput class="form-control btn ui-button-secondary" icon="fa-refresh" [disabled]="!valForm.form.valid"
          pButton style="width: auto; height: 60px; float: right; margin-right: 40px; margin-top: 12px; margin-bottom: 20px; display:none;"
          label="Atualizar Valores"></button>

      </p-tabView>

      <br>
      <div class="col-md-6 col-md-offset-6 nopadding" style="float: right">
        <h6> Verificações Adicionais </h6>
        <div class="col-md-4 col-md-offset-4 nopadding" style="float: left">
          <div class="checkbox">
            <label style="font-size: 1.5em">
                <input type="checkbox" value="" (change)="gravar()" [(ngModel)]="verif_adic[1]" [ngModelOptions]="{standalone: true}" >
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                <span  style="font-size: 0.8em">Teste X-Ato</span>
            </label>
          </div>
          <div class="checkbox">
            <label style="font-size: 1.5em">
                 <input type="checkbox" value=""  (change)="gravar()" [(ngModel)]="verif_adic[2]" [ngModelOptions]="{standalone: true}" >
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                <span  style="font-size: 0.8em">Teste Aderência</span>
            </label>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4 nopadding" style="float: left">
          <div class="checkbox">
            <label style="font-size: 1.5em">
                <input type="checkbox" value=""  (change)="gravar()" [(ngModel)]="verif_adic[3]" [ngModelOptions]="{standalone: true}" >
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                <span  style="font-size: 0.8em">Teste Fita Adesiva</span>
            </label>
          </div>
          <div class="checkbox">
            <label style="font-size: 1.5em">
                 <input type="checkbox" value=""  (change)="gravar()" [(ngModel)]="verif_adic[4]" [ngModelOptions]="{standalone: true}" >
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                <span  style="font-size: 0.8em">Teste Dimensional</span>
            </label>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4 nopadding" style="float: right">
          <button type="button" class="form-control btn btn-primary" (click)="concluir()" pButton style="width: 57%; height: 60px; float: right;"
            label="Concluir / Sair"></button>
          <!--<button type="button" class="form-control btn btn-success ui-button-secondary" (click)="gravar()" pButton style="width: 48%; height: 60px; float: left;"
          label="Gravar"></button>-->
        </div>
      </div>

    </form>

  </div>
</div>
<button #editarclick2 id="editarclick2" data-toggle="modal" [hidden]="true"></button>
<button #carregaaltura id="carregaaltura" [hidden]="true"></button>
<button type="button" [hidden]="true" #dialogwaiting class="btn btn-success" onclick="waitingDialog.show('A Pesquisar...', {dialogSize: 'sm'});">Show dialog</button>
<button type="button" [hidden]="true" #closewaiting class="btn btn-success" onclick="setTimeout(function () { waitingDialog.hide(); }, 500);">Show dialog</button>
<!-- POPUP OBS DEFEITOS-->
<p-dialog header="Observações do Defeito" [(visible)]="displayDialog" modal="modal" width="700" [responsive]="true" [dismissableMask]="true"
  [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="height: 100px; float: left; font-size: 18px;">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12"><label for="vin">Observação</label></div>
      <input [(ngModel)]="obdsdef" class="form-control" type="text" style="height: 45px; font-size: 25px;" />
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="cancel()" label="Cancelar"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Gravar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Etiqueta não encontrada!" [(visible)]="displayDialogetiqueta" modal="modal" width="700" [responsive]="true"
  [dismissableMask]="true" [dismissableMask]="true" [draggable]="false">
  <div class="col-md-12 col-md-offset-12" style="height: 100px; float: left; font-size: 18px;">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12" style="text-align: center;"><label for="vin">A etiqueta nº {{num_etiqueta}} não foi encontrada!</label></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="fechar()" label="Fechar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog header="Apagar" icon="fa fa-trash" width="425"></p-confirmDialog>