<div class="col-md-12 col-md-offset-12 nopadding" style="height: 50px; text-align: center;">
  <div class="col-md-3 col-md-offset-3 nopadding" style="height: 50px;  float: left;" >
    <button type="button" class="form-control btn btn-primary" icon="fa-chevron-left" pButton (click)="prevItem()" style="width: auto; height: 60px; float: left;"
      label="Referência Anterior"></button>
  </div>
  <div class="col-md-6 col-md-offset-6 nopadding" style="height: 50px;  float: left;">
    <h6>
    REGISTO DE QUANTIDADES REFERÊNCIA:
  </h6>
  <h5><b>
    {{ref_name}}
    </b>
  </h5>
  </div>
  <div class="col-md-3 col-md-offset-3 nopadding" style="height: 50px;  float: left;">
    <button type="button" class="form-control btn btn-primary" icon="fa-chevron-right" iconPos="right" pButton (click)="nextItem()"
      style="width: auto; height: 60px; float: right;" label="Referência Seguinte"></button>
  </div>
</div>

<div class="col-md-12 col-md-offset-12 nopadding" style="height: 90px; margin: 23px 0 0 0; text-align: center;">
  <div class="col-md-1 col-md-offset-1 nopadding" style=" float: left;">
  </div>
  <div class="col-md-2 col-md-offset-2 nopadding" style=" float: left;">
    <label class="control-label " for="name">Quant. Boas</label>
    <input value="{{qttboas}}" class="form-control" type="number" #box (change)="updatetotal(box.value)" style="text-align: center;" min="0" 
      style="text-align: center;" />
  </div>
  <div class="col-md-1 col-md-offset-1 nopadding" style=" float: left;">
    <div class="form-group1">
      <i style="font-size: 50px;">+</i>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-2 nopadding" style=" float: left;">
    <label class="control-label " for="name">Total Defeitos</label>
    <input class="form-control" type="text" style="text-align: center;" readonly value="{{totaldefeitos}}" />
  </div>
  <div class="col-md-1 col-md-offset-1 nopadding" style=" float: left;">
    <div class="form-group1">
      <i style="font-size: 50px;">=</i>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-2 nopadding" style=" float: left;">
    <label class="control-label " for="name">Total Control</label>
    <input class="form-control" type="text" readonly style="text-align: center;" value="{{totalcontrol}}" />
  </div>
  <div class="col-md-2 col-md-offset-2 " style=" float: left;">
    <label class="control-label " for="name">Quant. OF</label>
    <input class="form-control" type="text" style="text-align: center;" readonly />
  </div>
  <div class="col-md-1 col-md-offset-1 nopadding" style=" float: left;">
  </div>
</div>
<div class="col-md-12 col-md-offset-12 nopadding" style=" float: left;">
  <form #valForm="ngForm" (ngSubmit)="submitFunc(valForm.value); ">
    <p-tabView *ngIf="tabSets" orientation="left">
      <p-tabPanel *ngFor="let tab of tabSets" header="{{tab.label}}">
        <div class="col-md-12 col-md-offset-12" style="height: auto;">
          <div *ngFor="let item of getinputs(tab.label) let i = index" [attr.data-index]="i" class="col-md-2 col-md-offset-2 nopadding"
            style="float:left;">
            <label class="control-label requiredField" style="width: 100%; margin-bottom:0px; " for="name">{{ item }}</label>
            <input class="form-control" id="name" name="{{ item }}" #inputvalue ngModel type="number" min="0" style="height: 45px; font-size: 25px;"
            />
          </div>
        </div>
      </p-tabPanel>
      <button type="input" class="form-control btn ui-button-secondary" icon="fa-refresh" [disabled]="!valForm.form.valid" pButton
        style="width: auto; height: 60px; float: right; margin-right: 40px; margin-top: 12px; margin-bottom: 20px;" label="Atualizar Valores"></button>
    </p-tabView>

    <br>



  </form>
  <button type="button" class="form-control btn btn-primary" routerLink="/operacao-em-curso-multiref" pButton style="width: 20%; height: 60px; float: right;"
    label="Concluir"></button>
</div>